@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRAIG'S CAKE SHOP</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta sem bibendum velit tempor blandit ultrices vitae purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>