<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=59644ff9-d820-4b3b-b4b0-a86b001d615a.sqlserver.sequelizer.com;Database=db59644ff9d8204b3bb4b0a86b001d615a;User ID=zizloolukwafgwkh;Password=H5bagGV7UFfqiw8rDwCSnbWs8S6nyQJRKLCeecnwF5PbCjPc4SQ2xNdFhRbvJGGd;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
