@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Cake Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="root" user="@User.Identity.GetUserId()"></div>

@Scripts.Render("~/bundles/react")
@Scripts.Render("~/bundles/components")



