body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:whitesmoke;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

/********************NavigationBar********************/

.navbar-inverse {
    background-color: #17437F;
    border-color: #080808;
    color: #fff;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

.navbar-inverse .navbar-brand {
    color: #fff;
}

    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }

        .navbar-inverse .navbar-toggle:focus {
            outline: none;
        }

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #fff; }
}

@media (min-width: 1200px) {
    .container { 
        max-width: 1100px !important; 
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand { margin-left: 0px; }
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent !important;
}

/***********************LOGIN**********************/

.centerLogin {
    display: inline-block;
    display: table;
    margin: auto;
}

.pageLogin {
    float: left;
}

.center-block {
    resize: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.jumbotron-login {
    margin-top: 50px;
    padding-top: 0px;
    text-align: center;
    border: 1px solid #888;
    box-shadow: 0px 2px 66px -16px rgba(0,0,0,0.75);
}


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: none;
    margin-left: -20px;
}

label {
    font-size: 18px !important;
    font-weight: normal;
    font-family: Calibri;
}

/*********************Register***********************/

.pageRegister {
    float: left !important;
    font-size: 26px;
}

.centerRegister {
    display: inline-block;
    display: table;
    margin: auto;
}

.jumbotron-register {
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 40px;
    border: 1px solid #888;
}

.alert ul {
    font-size: 12px;
    list-style-type: none !important;
    width:155px;
}

.alert {
    padding: 10px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.btn-block {
    display: initial;
}